.header {
  height: 100px;          
  display: flex;
  align-items: center;    
 border-bottom: 0.5px solid rgb(184, 183, 183);
  
}

.header img {
  height: 200px;           
  margin-left: 20px;      
}

.discover{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.discover p {
    font-weight: 20;
    font-size: small;
}

#Search {
  gap: 6px;
  align-items: center;
 
}

#Search input {
  padding: 8px 12px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 9px;
}

#Search button {
  padding: 8px 16px;
  border: none;
  border-radius: 9px;
  background: #007BFF;
  color: white;
  cursor: pointer;
}

#Search button:hover {
  background: #0056b3;
}
.content {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;
  
}
.content div{
  border: 0.5px solid rgb(95, 95, 95);
}

.div1 {
  width: 600px;
}

.div2 {
  width: 300px;
}

#saveBtn{
  border-radius: 5px;
  border: 0.3px solid black;
  margin-bottom: 8px;
  cursor: pointer;
  height: 50px;
}

